    
PUBLIC_KEY=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBAIqC2eMaE3krexhXKU1EjUEGgQWH6ETekIwsjNsSVhWjLTLScq8COv6uG0DbJHTrdgKGYUYJBiI7WP/otPHi0pECAwEAAQ==
PRIVATE_KEY=MIIBOQIBAAJBAIqC2eMaE3krexhXKU1EjUEGgQWH6ETekIwsjNsSVhWjLTLScq8COv6uG0DbJHTrdgKGYUYJBiI7WP/otPHi0pECAwEAAQJAZyrbe8o6YvA9+X1CaCj9RUfA5gu6t0FHTQEJ0UqxD9+meKK6DsFAO2bAFP8ADOvTIXCTNLeM15jQNXpyRXNGWQIhANF7WKiBRVBJlANGH04aGwoULokNtVq2K9+h3ECMtNMjAiEAqUTz6uq6iorxO2bDPKcBYg3v2vYYvELXXtxUjlL2iLsCIFAj0Bcm3U2J2IYoHXHTquSANA1aoTbC2qYDVi+bpNHhAiBACcAmDevI4kvlZzlRxvT0/cTSl+w/vSHx13V96tEuZQIgHYqnHW+9fAvB+q4fsaYogyDhAqiwxMYPxS2Fv1U7nsI=
MONGODB_URI=mongodb://localhost:27017/pokemonsApi